<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Techfest 2K18</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "css/my.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/arc.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/devpage.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
  <!-- <link rel="stylesheet" type="text/css" href="css/credits.css"> -->


</head>
<body>

	 <!-- particles.js container -->
		<div id="particles-js"></div>

    <img id="logo" src="{% static "images/logo1.png" %}" height="80">
    <a href="{% url 'home' %}" class="btn btn-sm animated-button gibson-one">Home</a>
    <div class="glitch" data-text="About Us" style="top:-20%;left:45%;">
      About us
    </div>

   <div class="notm" style="position: fixed; top:37.5%; height: 100%; width: 100%;">
    <div class="arc_reactor">
      <div class="case_container">
        <div class="e7">
          <div class="semi_arc_3 e5_1">
            <div class="semi_arc_3 e5_2">
              <div class="semi_arc_3 e5_3">
                <div class="semi_arc_3 e5_4">
                </div>
              </div>
            </div>
          </div>
          <div class="core2"></div>
          </div>
          <ul class="marks">
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row" id="pics">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 animatable bounceInLeft" >
          <div class="container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="{% static "images/prakhar.jpeg" %}">
                <div class="content-details fadeIn-top">
                  <div class="social-network">
                    <a target="_blank" href="https://github.com/prkhrv"><i class="fab fa-github fa-2x"></i></a>
                    <a target="_blank" href="https://www.facebook.com/pampu01"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a target="_blank" href="https://www.instagram.com/high_functioning_soci0path/"><i class="fab fa-instagram fa-2x"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/prakhar-varshney-886153149/"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a target="_blank" href="https://twitter.com/prakharnegative"><i class="fab fa-twitter-square fa-2x"></i></a>
                  </div>

                </div>
            </div>
            <div class="Designation text-center">
                    <h4>Prakhar Varshney</h4>
                    <p>Student of NIET 3rd Year (CSE)</p>
                    <a>" THE BACKEND'S MIND "</a>
                    <br>
                    <br>
                    <br>

                    <a href="http://www.prakharvarshney.ooo" style="text-decoration:none;color:aqua !important;font-size:20px;">HIRE AS AN INTERN</a>
                  </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 animatable bounceInRight">
          <div class="container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="{% static "images/myimage.jpg" %}">
                <div class="content-details fadeIn-top">
                  <div class="social-network">

                    <a target="_blank" href="https://github.com/PiyushMishra318"><i class="fab fa-github fa-2x"></i></a>
                    <a target="_blank" href="https://www.facebook.com/piyush.mishra.3154"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a target="_blank" href="https://www.instagram.com/piyush_mishra.kh.3108/"><i class="fab fa-instagram fa-2x"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/piyush-mishra-853010168/"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a target="_blank" href="https://twitter.com/PiyushM3108"><i class="fab fa-twitter-square fa-2x"></i></a>

                  </div>

                </div>

            </div>
            <div class="Designation text-center">
                    <h4>Piyush Mishra</h4>
                    <p>Student of NIET 3rd Year (CSE)</p>
                    <a>" THE FRONTEND'S SOUL "</a>
                    <br>
                    <br>
                    <br>

                    <a href="https://piyushmishra.pythonanywhere.com" style="text-decoration:none;color:aqua !important;font-size:20px;">HIRE AS AN INTERN</a>
                  </div>
          </div>
        </div>
    </div>
  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
  <script  src="{% static "js/index.js" %}"></script>


</body>
</html>
