<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Techfest 2K18</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="">
	<link rel="stylesheet" type="text/css" href="{% static "css/my.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/arc.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style-event.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
  integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>
<body>

	 <!-- particles.js container -->
		<div id="particles-js"></div>

    <img style="position: relative; left: 22%; top: 5%;" src="{% static "images/logo1.png" %}" height="100">
    <!-- <a href="index.html" class="btn btn-sm animated-button gibson-one">Home</a> -->
    <div class="glitch" data-text="Ebullience 2K18" style="font-size: 40px; top:-5%;left:30%;">
      Ebullience 2K18
    </div>
    <div class="glitch" data-text="Coordinator's Panel" style="top:-5%;left:35%;">
      Coordinator's Panel
    </div>

	 <div class="notm" style="position: fixed; top:37.5%; height: 100%; width: 100%;">
    <div class="arc_reactor">
      <div class="case_container">
        <div class="e7">
          <div class="semi_arc_3 e5_1">
            <div class="semi_arc_3 e5_2">
              <div class="semi_arc_3 e5_3">
                <div class="semi_arc_3 e5_4">
                </div>
              </div>
            </div>
          </div>
          <div class="core2"></div>
          </div>
          <ul class="marks">
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
          </ul>
        </div>
      </div>
    </div>
		<div class="error">
		{% if form.errors %}
	          {{ form.non_field_errors }}
	  {% endif %}

  </div><br>

    <div class="form">
      <form method="post">
				 {% csrf_token %}
          <p type="Enter the Token:"><br><input name=token class="myinp1" type="text" placeholder="Token" required></input></p><br>
          <button>Download CSV</button>
        </form>
    </div>






  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

	<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
	<script  src="{% static "js/index.js" %}"></script>
  <!-- <script  src="js/signup.js"></script> -->



</body>
</html>
