<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    	<link rel="shortcut icon" href="{% static "images/logo1.png" %}" height="16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">


    <meta name="mobile-web-app-capable" content="yes">

    <title>Register</title>
    <link rel="stylesheet" href="{% static "css/master.css" %}">
    <link rel="stylesheet" href="{% static "css/arc.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <!-- particles.js container -->
     <div id="particles-js"></div>
    <center>
    <h1>{{event_name}}</h1><br>
    <div id="desc">
        <h4> {{event_description}}</h4><br>
    </div>
    <div id="regdetails">
    <div id="rules">
      <h3>Rules</h3>
      <ul style="list-style-type:disc">
        {% for a in rules %}
        <li>{{a}}</li>
        {% endfor %}
      </ul>


    </div>

    <div id="judge">
      <h3>Juding Criteria</h3>
      <ul style="list-style-type:disc">
        {% for b in judge %}
        <li>{{b}}</li>
        {% endfor %}
      </ul>
    </div>
    <div id="schedule">
       <h3>Schedule :- {{schedule}}</h3>
    </div>
    <div id="venue">
      <h3>Venue :- {{venue}}</h3>
    </div>
    <div id="contact">
      <h3>Contact:</h3>
      <ul style="list-style-type:disc">
        {% for c in contact %}
        <li>{{c}}</li>
        {% endfor %}
      </ul>
    </div></div>



  <div class="notm" style="position: fixed; top:37.5%; height: 100%; width: 100%;">
   <div class="arc_reactor">
     <div class="case_container">
       <div class="e7">
         <div class="semi_arc_3 e5_1">
           <div class="semi_arc_3 e5_2">
             <div class="semi_arc_3 e5_3">
               <div class="semi_arc_3 e5_4">
               </div>
             </div>
           </div>
         </div>
         <div class="core2"></div>
         </div>
         <ul class="marks">
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
           <li></li><li></li><li></li><li></li><li></li><li></li>
         </ul>
       </div>
     </div>
   </div>

    {% if var2 == user.id %}
    <h1 style="color: green;font-size: 25px;" >Already Registered</h1>

    {% else %}

    {% if form.errors %}
   {% for field in form %}
       {% for error in field.errors %}
           <div class="alert">
               <strong>{{ error|escape }}</strong>
           </div>
       {% endfor %}
   {% endfor %}
   {% for error in form.non_field_errors %}
       <div class="alert">
           <strong>{{ error|escape }}</strong>
       </div>
   {% endfor %}
{% endif %}
<div id="myform">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="user" value="{{user.id}}" hidden>
      <input type="text" name="first_name" value="{{user.first_name}}" hidden>
      <input type="text" name="last_name" value="{{user.last_name}}" hidden>
      <input type="text" name="email" value="{{user.email}}" hidden>
      <input type="text" name="roll" value="{{user.roll}}" hidden>
      <input type="text" name="phone" value="{{user.phone}}" hidden>
      <input type="text" name="branch" value="{{user.branch}}" hidden>
      <input type="text" name="section" value="{{user.section}}" hidden>
      <input type="text" name="year" value="{{user.year}}" hidden>
    <br><label for="team_name">Team Name</label><br><input id="team_name" type="text" name="team_name" placeholder="team_name" required><br><br>
    <label for="members">No. of members in Team <br>  <select id="members" name="number_of_members" required="" onchange="yesnoCheck(this);">
        <option value="" disabled selected="" >Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <!-- <option value="3">3</option>
        <option value="4">4</option> -->
      </select><br><br>

      <div id="one" style="display: none;">
      <label for="one_member_1">Member 1</label><br> <input type="text" id="one_member_1" name="member_1" placeholder="Member 1" ><br><br>
     </div>
     <div id="two" style="display: none;" >
      <label for="two_member_1">Member 1</label><br> <input type="text" id="two_member_1" name="member_1" placeholder="member_1" ><br><br>
      <label for="two_member_2">Member 2</label><br> <input type="text" id="two_member_2" name="member_2" placeholder="member_2" ><br><br>
     </div>
     <!-- <div id="three" style="display: none;" >
      <label for="three_member_1">Member 1</label><br><input type="text" id="three_member_1" name="member_1" placeholder="member_1" ><br><br>
      <label for="three_member_2">Member 2</label><br><input type="text" id="three_member_2" name="member_2" placeholder="member_2" ><br><br>
      <label for="three_member_3">Member 3</label><br><input type="text" id="three_member_3" name="member_3" placeholder="member_3" ><br><br>
     </div>
     <div id="four" style="display: none;" >
       <label for="four_member_1">Member 1</label><br><input type="text" id="four_member_1" name="member_1" placeholder="member_1" ><br><br>
       <label for="four_member_2">Member 2</label><br><input type="text" id="four_member_2" name="member_2" placeholder="member_2" ><br><br>
       <label for="four_member_3">Member 3</label><br><input type="text" id="four_member_3" name="member_3" placeholder="member_3" ><br><br>
       <label for="four_member_4">Member 4</label><br><input type="text" id="four_member_4" name="member_4" placeholder="member_4" ><br><br>
     </div> -->

      <input class="regbtn" type="submit" value="Register">

    </form></div>

    {% endif %} </center>

    <script>
    function yesnoCheck(that) {
        if (that.value == "1") {
            document.getElementById("one").style.display = "block";
            document.getElementById("one_member_1").disabled = false;
          }
        else{
            document.getElementById("one").style.display = "none";
            document.getElementById("one_member_1").disabled = true;
        }

        if (that.value == "2")  {
            document.getElementById("two").style.display = "block";
            document.getElementById("two_member_1").disabled = false;
            document.getElementById("two_member_2").disabled = false;
        } else {
          document.getElementById("two").style.display = "none";
          document.getElementById("two_member_1").disabled = true;
          document.getElementById("two_member_2").disabled = true;
          // document.getElementById("designation").required = false;
        }
        // if (that.value == "3")  {
        //     document.getElementById("three").style.display = "block";
        //     document.getElementById("three_member_1").disabled = false;
        //     document.getElementById("three_member_2").disabled = false;
        //     document.getElementById("three_member_3").disabled = false;
        //     // document.getElementById("designation").required = true;
        // } else {
        //   document.getElementById("three").style.display = "none";
        //   document.getElementById("three_member_1").disabled = true;
        //   document.getElementById("three_member_2").disabled = true;
        //   document.getElementById("three_member_3").disabled = true;
        // }
        // if (that.value == "4")  {
        //     document.getElementById("four").style.display = "block";
        //     document.getElementById("four_member_1").disabled = false;
        //     document.getElementById("four_member_2").disabled = false;
        //     document.getElementById("four_member_3").disabled = false;
        //     document.getElementById("four_member_4").disabled = false;
        //
        //     // document.getElementById("designation").required = true;
        // } else {
        //   document.getElementById("four").style.display = "none";
        //   document.getElementById("four_member_1").disabled = true;
        //   document.getElementById("four_member_2").disabled = true;
        //   document.getElementById("four_member_3").disabled = true;
        //   document.getElementById("four_member_4").disabled = true;
        //
        //   // document.getElementById("designation").required = false;
        // }
    }
</script>
<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<script  src="{% static "js/index.js" %}"></script>
  </body>
</html>
