/* ---- reset ---- */
@font-face{
	font-family: 'aven';
	src: url('../fonts/a3.ttf');
}

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/*/*/*/* ---- stats.js ---- */*/

/*.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}*/

div[class*=container] {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.btn {
  font-family: aven;
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
  left: 4px;
  z-index: 1;

  opacity: 0;
  background: rgba(2, 254, 255, 0.1);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(2, 254, 255, 0.5);
}

.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 3px solid rgba(2, 254, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.first-button {
  position:absolute;
  top:25%;
  left:20%;
  text-align: center;
}

.second-button {
  position:absolute;
  top:50%;
  left:10%;
  text-align: center;
}

.third-button {
  position:absolute;
  top:75%;
  left:20%;
  text-align: center;
}

.fourth-button {
  position:absolute;
  top:25%;
  left:60%;
  text-align: center;
}

.fifth-button {
  position:absolute;
  top:50%;
  left:70%;
  text-align: center;
}

.sixth-button {
  position:absolute;
  top:75%;
  left:60%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .first-button {
      position:absolute;
      top:25%;
      left:0%;
      text-align: center;
    }

    .second-button {
      position:absolute;
      top:40%;
      left:0%;
      text-align: center;
    }

    .third-button {
      position:absolute;
      top:55%;
      left:0%;
      text-align: center;
    }

    .fourth-button {
      position:absolute;
      top:70%;
      left:0%;
      text-align: center;
    }

    .fifth-button {
      position:absolute;
      top:85%;
      left:0%;
      text-align: center;
    }

    .sixth-button {
      position:absolute;
      top:100%;
      left:0%;
      text-align: center;
    }

    .btn {
  position: relative;
  color: white;
  width: 128px;
  height: 64px;
  line-height: 32px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
  left: 4px;
  z-index: 1;

  opacity: 0;
  background: rgba(2, 254, 255, 0.1);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(2, 254, 255, 0.5);
}

.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(2, 254, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 32px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .glitch {
      color: white;
      font-size: 13px;
      font-family: aven;
      position: absolute;
      width: auto;
      margin: 0 auto;
      text-transform: uppercase;
      left: 40%;
     top: 5%;
    }
		#prkhrv{
			color: white;
			font-size: 15px;
			font-family: aven;
			position: absolute;
			width: auto;
			margin: 0 auto;
			text-transform: uppercase;
			left: 50%;
		 top: 20%;
		 font-size:10px;
		}
    #logo{

      height: 80px;
    }
}
